*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

body {
    position: relative;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(100, 100, 100, 0.4)
        }

        .modal {
            width: 375px;
            margin: 15% auto auto;
            position: relative;
            text-align: center;
            background: #fff;
            border: 1px solid #778;
            border-radius: 5px;
            padding: 30px 20px;
        }


        .modal-close {
            position: absolute;
            right: 15px;
            top: 5px;
            cursor: pointer;
        }

    .modal-nav{

        margin-top: 30px;
        display: flex;
        justify-content: space-around;

    }

    .prev, .next{
        cursor: pointer;
    }

    
    .hidden {
        display: none;
        }

        .show{

            display: inline-flex;

        }

h1{

   margin-left: 30px;
   margin-top: 30px;

}



.search_box{

    padding-left: 10px;
    width: 57%;
    height: 54px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border-color: lightgrey;
    transition: background-color .45s ease-in;
    margin-bottom: 24px;
    margin-left: 30px;
    margin-top: 30px;
}

.search_box:hover{

    background-color: lightgrey;

}


.grid-container{

display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 30px;
padding: 30px;

}

.card{


    display: flex;
    align-items: center;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px;
   
  transition: background-color .45s ease-in;

}

.card:hover {
    background-color: lightyellow;
  }

.avatar{

    width: 27%;
    border-radius: 50%;
    margin-right: 25px;


}

.name{

font-size: medium;
max-width: 100%;

}

.email, .address{
    
    font-size: small;
    color: grey;
    max-width: 100%;

}


